.Component-styles-container {
    margin-top: 16vh; 
    font-family: 'Morpheus';
    display: flex; 
    flex-direction: column; 
    align-content: center; 
}
.For-feed-header {
    padding: 3vh; 
    border-radius: 5px; 
    background-color: #1F212B; 
    color: #C6E38C !important; 
    text-shadow:
     -1px -1px 0 #1D830C ,  
      1px -1px 0 #1D830C ,
      -1px 1px 0 #1D830C ,
       1px 1px 0 #1D830C;
}
.Component-styles-container {
    background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1597606219/Screen_Shot_2020-08-16_at_3.30.00_PM_ody2lb.png");
    background-repeat: repeat; 
    border-image-repeat: stretch;
}
.Feed-cont-posts {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    margin-left: 10vw; 
    margin-right: 10vw; 
    color: #C6E38C !important; 
    text-shadow:
     -1px -1px 0 #1D830C ,  
      1px -1px 0 #1D830C ,
      -1px 1px 0 #1D830C ,
       1px 1px 0 #1D830C;
       font-size: 25px; 
}
.feed-avatar {
 max-width: 60px; 
 margin-right: 2vh; 
}
.date-slice {
    margin-top: 2vh; 
}
.user-feed {
    margin-left: 3vw; 
    font-family: 'Morpheus'
}
.link-overide {
    color: #C6E38C !important; 
    text-shadow:
     -1px -1px 0 #1D830C ,  
      1px -1px 0 #1D830C ,
      -1px 1px 0 #1D830C ,
       1px 1px 0 #1D830C;
       font-size: 25px; 
    text-decoration: none; 
}
.link-overide:hover {
    text-decoration: underline 2px solid #1D830C!important; 
    color: #C6E38C;
}
