.Component-styles-container {
    margin-top: 16vh; 
    font-family: 'Morpheus';
}
.Component-styles-container {
    background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1597602709/Screen_Shot_2020-08-16_at_2.31.15_PM_axiuxd.png");
    background-repeat: repeat; 
}
.Feed-cont-posts {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    margin-left: 10vw; 
    margin-right: 10vw; 
    color: #C6E38C !important; 
    text-shadow:
     -1px -1px 0 #1D830C ,  
      1px -1px 0 #1D830C ,
      -1px 1px 0 #1D830C ,
       1px 1px 0 #1D830C;
}
.feed-avatar {
 max-width: 60px; 
 margin-right: 2vh; 
}
.date-slice {
    margin-top: 2vh; 
}
.user-feed {
    margin-left: 3vw; 
    font-family: 'Morpheus'
}
.post-title-text {
    color: #1D830C; 
    text-decoration: none; 
}
.post-title-text:hover {
    text-decoration: underline 2px solid #C6E38C; 
}