.Component-styles-container {
    margin-top: 30vh; 
}
.Getting-Started h1, h2 {
    font-size: 20px !important; 
}

.Getting-Started div {
    min-width: 80vw !important; 
    margin: 2vw !important; 
}
.Getting-Started div div {
    min-width: 80vw !important; 
    margin: 2vw !important; 
}
.Getting-Started div div div {
    min-width: 80vw !important;
    margin: 2vw !important;  
}