.Login-Portal {
    background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1597599467/Screen_Shot_2020-08-16_at_1.37.34_PM_hilac0.png");
    background-size: 100vw auto; 
    background-repeat: no-repeat; 
    margin-top: 16vh; 
    display: flex; 
    justify-content: center; 
    font-family: 'Morpheus';
    color: #C6E38C !important; 
  text-shadow:
   -1px -1px 0 #1D830C ,  
    1px -1px 0 #1D830C ,
    -1px 1px 0 #1D830C ,
     1px 1px 0 #1D830C;
}
.card {
    margin-top: 5vh; 
}
.card-body {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
}