.comment-card-indent {
    margin-left: 10vw; 
    max-width: 70vw; 
}
.post-spef-widthcont {
    margin-left: 10vw; 
    margin-right: 10vw; 
}
.user-actions-ts {
    display: flex; 
    flex-direction: column; 
}