.comment-card-indent {
    margin-left: 10vw; 
    max-width: 70vw; 
}
.post-spef-widthcont {
    margin-left: 10vw; 
    margin-right: 10vw; 
}
.user-actions-ts {
    display: flex; 
    flex-direction: column; 
}

.button-green {
    background-color: #1D830C !important; 
    color: #C6E38C;
    max-width: 50px; 
    font-size: 15px; 
    max-height: 30px; 
}