.Component-styles-container {
    margin-top: 30vh; 
}

.talent-cont {
   display: none; 
}

@media only screen and (min-width: 720px) {
    .talent-cont {
        display: inline-block; 
        margin-left: 10vw; 
        margin-right: 10vw; 
        min-width: 80vw !important; 
        max-width: 80vw !important; 
     }
    /* .talents {
        max-width: 700px !important; 
        margin-left: 10vw; 
        margin-right: 10vw; 
    } */

}