.Component-styles-container {
    margin-top: 30vh; 
}

.talent-cont {
   display: none; 
}

@media only screen and (min-width: 720px) {
    .talent-cont {
        display: inline-block; 
     }
    .talents {
        width: 375px !important; 
        height: 300px !important; 
        margin-left: 10vw; 
        margin-right: 10vw; 
    }

}